.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(7, 248, 180, 0.103);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

 .Header img{
    height: 70px;
  } 

  span{
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(62, 151, 66);
  }

  h1{
    font-size: 20px;
    color: rgb(62, 151, 66);
  }

  .date{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .dateTime{
    position: relative;
  }
  
  .dateTime h1{
    position: relative;
    left: 75px;
    width: fit-content;
  }

  .timeIcon{
    display: flex;
    height: 0.1px;
    width: 10px;
  }

  .timeIcon img{
    position: relative;
    left: 18px;
    top: 5px;
    height: 45px;
    width: 45px;
  }
  
  .detailHeader{
    background-color: white;
    border-top: 5px solid green;
  }

  .firstDetail,.secondDetail{
    display: flex;
    border-collapse: collapse;
  }

  .secondDetail{
    position: relative;
    bottom: 27px;
  }

  .firstDetail>p,.secondDetail>p{
    width: 100%;
    height: 60px;
    text-align:left;
    padding: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .firstDetail img,.secondDetail img{
    height: 30px;
    width: 30px;
    position: relative;
    top: 15px;
    left: 15px;
  }

  .firstDetail span,.secondDetail span{
    /* font-size: 30px; */
    font-size: 18px;
    position: relative;
    left: 20px;
    top: 10px;
  }

  .firstDetail span:nth-child(3),.secondDetail span:nth-child(3){
    color: rgb(19, 19, 19);
    font-weight: bold;
    font-size: 24px;
    position: relative;
    right: 5px;
  }

.sortMenu > button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.sortMenu>buttonactive {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
} 

.sortSearch{
    display: flex;
}
.sortMenu>button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-left: 30px;
  width: 100px;
}

.sortMenu>button:hover{
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.sortMenu>button:active{
  transform: translateY(2px);
  transition-duration: .35s;
}

.sortMenu>button:hover{
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.sortMenu>button:nth-child(1){
    background-color: rgba(128, 128, 128, 0.858) !important;
}
.sortMenu>button:nth-child(3){
    background-color: red;
}
.sortMenu>button:nth-child(4),.sortMenu>button:nth-child(5){
    background-color:forestgreen;
}

.search {
    position: relative;
    margin: 20px auto;
    max-width: 300px;
    left: 100px;
    bottom: 15px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #444444;
    font-weight: bold;
  }
  
  input[type="text"]:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
  }
  .downloadFile{
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
    right: 40px;
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .downloadFile>button{
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
    right: 5px;
  }
  .downloadFile>img{
    position: relative;
    right: 5px;
  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    position: relative;
    left: 30px;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-align: center;
  }
  table td{
    text-align: center;

  }
  .studentTable{
    height: 500px;
    overflow-y: auto;
  }
  .studentTable th{
    position: sticky;
    top: 0;
    z-index: 1;
  }



  /* Statics Css */

  .statTable>table{
    width: 50%;
    height: 500px;
  }
  .wrapperStat{
    margin: 50px;
    height: 400px;
    width: 400px;
    position: relative;
    left: 60%;
    bottom: 530px;
  }

  .wrapperStat h1{
    position: relative;
    left: 55px;
    font-size: 30px;
    color: green;
    border-bottom: 4px solid green;
    width: 270px;
    padding-bottom: 5px;
  }

  .barWrapper h1, .barGraphWrapper h1{
    position: relative;
    left: 200px;
    font-size: 30px;
    color: green;
    border-bottom: 4px solid green;
    width: 220px;
    padding-bottom: 5px;
  }

  .barWrapper,.barGraphWrapper{
    width: 600px;
    position: absolute;
  }
  .barGraphWrapper{
    transform: translate(50px,-400px);
  }

  .barWrapper
  {
    transform: translate(900px,-400px); 
  }


  /* Detail button */
  .detailButton{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 0.863) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.detailButton:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.detailButton:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.StatWrapper{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.StaticsBtn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.StaticsBtn:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.StaticsBtn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.StaticsBtn:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal.show-modal {
  display: flex;
}

.close-button {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main-modal {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  height: 80%;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-modal .mod-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #04AA6D;
  color: white;

}
.main-modal .mod-body {
  padding: 0% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.main-modal .mod-body .mod-body-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-modal .mod-body .mod-body-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}
.main-modal .mod-body .mod-body-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-modal .comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border-color: #1e8449;
  width: 80%;
  height: 0px;
  margin-top: 2%;
}

.main-modal .mod-header h2{
  margin-left: 3%;
  font-size: 25px;
}

.main-modal .mod-body h2, .main-modal .comments h2{
  font-size: 18px;
  margin-top: 30px;
}

.main-modal .comments h3{
  color:  #1e8449;
}

.footer {
  background-color: rgba(7, 248, 180, 0.103);
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.footer p {
  margin: 0;
}

.footer p:first-child {
  margin-bottom: 10px;
}



  
  
  
  
  
  
  

  
  
  
  
  
    